<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3 col-md-5">
      <div class="form-group">
        <h3><%= f.label :date %></h3>
        <%= f.datetime_select :date, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-5">
      <div class="form-group">
        <h3><%= f.label :description %></h3>
        <%= f.text_area :description, class: 'form-control', rows: '5' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-5">
      <div class="form-group">
        <h3><%= f.label :users %></h3>
        <%= f.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
          <div class="checkbox">
            <%= b.label { b.check_box + "  #{b.text}" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br><br>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
